In [1]:
import pandas as pd 
import numpy as np

Algunos *data frames* (tablas):

In [2]:
pd.DataFrame([1,2,3,4], index=[5,6,7,8]) #lista

   0
5  1
6  2
7  3
8  4

In [3]:
pd.DataFrame((1,2,3), index=[0,0,0]) #tupla

   0
0  1
0  2
0  3

In [4]:
pd.DataFrame({"Yo":[1]}, index=[1]) #Diccionario

   Yo
1   1

In [5]:
pd.DataFrame({1,2,2,2}, index=[99,99]) #conjunto

    0
99  1
99  2

Leyendo datos:

In [14]:
datos=pd.read_csv("train.houses.csv")

In [15]:
datos

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [4]:
datos.head() #solo el encabezado

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [5]:
pd.read_csv("test.houses.csv")

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

Leyendo dos archivos *csv*.

In [6]:
datosmultiple=[]
for filename in ["train.houses.csv","test.houses.csv"]:
    datos = pd.read_csv(filename,index_col=None, header=0)
    datosmultiple.append(datos)
datosmultiples=pd.concat(datosmultiple,axis=0,ignore_index=True)

In [7]:
datosmultiples.shape

(2919, 81)

In [8]:
datosmultiples

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500.0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500.0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500.0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000.0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,NaN
2915,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml,NaN
2916,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml,NaN
2917,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,NaN
2918,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,NaN

In [9]:
datos.axes #descripciones de la tabla *datos*

[RangeIndex(start=0, stop=1459, step=1),
 Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
        'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
        'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
        'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
        'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
        'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
        'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
        'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
        'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
        'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
        'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
        'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
        'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
        'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
        'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
        'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
        'SaleCondition'],
       dtype='object')]

Transponer dataframe

In [10]:
datos.T

,0,1,2,3,4,5,6,7,8,9,...,1449,1450,1451,1452,1453,1454,1455,1456,1457,1458
Id,1461,1462,1463,1464,1465,1466,1467,1468,1469,1470,...,2910,2911,2912,2913,2914,2915,2916,2917,2918,2919
MSSubClass,20,20,60,60,120,60,20,60,20,20,...,180,160,20,160,160,160,160,20,85,60
MSZoning,RH,RL,RL,RL,RL,RL,RL,RL,RL,RL,...,RM,RM,RL,RM,RM,RM,RM,RL,RL,RL
LotFrontage,80.0,81.0,74.0,78.0,43.0,75.0,NaN,63.0,85.0,70.0,...,21.0,21.0,80.0,21.0,21.0,21.0,21.0,160.0,62.0,74.0
LotArea,11622,14267,13830,9978,5005,10000,7980,8402,10176,8400,...,1470,1484,13384,1533,1526,1936,1894,20000,10441,9627
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
MiscVal,0,12500,0,0,0,0,500,0,0,0,...,0,0,0,0,0,0,0,0,700,0
MoSold,6,6,3,6,1,4,3,5,2,4,...,4,5,5,12,6,6,4,9,7,11
YrSold,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010,...,2006,2006,2006,2006,2006,2006,2006,2006,2006,2006
SaleType,WD,WD,WD,WD,WD,WD,WD,WD,WD,WD,...,WD,WD,WD,WD,WD,WD,WD,WD,WD,WD
SaleCondition,Normal,Normal,Normal,Normal,Normal,Normal,Normal,Normal,Normal,Normal,...,Normal,Normal,Normal,Abnorml,Normal,Normal,Abnorml,Abnorml,Normal,Normal

Tipo de datos, verificar si está vacio el dataframe y la dimensión del mismo

In [15]:
datos.dtypes, datos.empty, datos.ndim

(Id                 int64
 MSSubClass         int64
 MSZoning          object
 LotFrontage      float64
 LotArea            int64
                   ...
 MiscVal            int64
 MoSold             int64
 YrSold             int64
 SaleType          object
 SaleCondition     object
 Length: 80, dtype: object,
 False,
 2)

In [16]:
datos.values #arreglos

array([[1461, 20, 'RH', ..., 2010, 'WD', 'Normal'],
       [1462, 20, 'RL', ..., 2010, 'WD', 'Normal'],
       [1463, 60, 'RL', ..., 2010, 'WD', 'Normal'],
       ...,
       [2917, 20, 'RL', ..., 2006, 'WD', 'Abnorml'],
       [2918, 85, 'RL', ..., 2006, 'WD', 'Normal'],
       [2919, 60, 'RL', ..., 2006, 'WD', 'Normal']], dtype=object)

In [11]:
datos.columns #columnas

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition'],
      dtype='object')

Seleccionar columnas:

In [18]:
datos.Fence

0       MnPrv
1         NaN
2       MnPrv
3         NaN
4         NaN
        ...
1454      NaN
1455      NaN
1456      NaN
1457    MnPrv
1458      NaN
Name: Fence, Length: 1459, dtype: object

In [19]:
datos["Fence"]

0       MnPrv
1         NaN
2       MnPrv
3         NaN
4         NaN
        ...
1454      NaN
1455      NaN
1456      NaN
1457    MnPrv
1458      NaN
Name: Fence, Length: 1459, dtype: object

Seleccionar dos columnas:

In [12]:

datos[["Street","LotArea"]] #notar el doble corchete

     Street  LotArea
0      Pave    11622
1      Pave    14267
2      Pave    13830
3      Pave     9978
4      Pave     5005
...     ...      ...
1454   Pave     1936
1455   Pave     1894
1456   Pave    20000
1457   Pave    10441
1458   Pave     9627

[1459 rows x 2 columns]

In [21]:
datos[["Id"]]

        Id
0     1461
1     1462
2     1463
3     1464
4     1465
...    ...
1454  2915
1455  2916
1456  2917
1457  2918
1458  2919

[1459 rows x 1 columns]

In [22]:
datos[["LotShape", "LandContour"]] #doble columna, igualmente

     LotShape LandContour
0         Reg         Lvl
1         IR1         Lvl
2         IR1         Lvl
3         IR1         Lvl
4         IR1         HLS
...       ...         ...
1454      Reg         Lvl
1455      Reg         Lvl
1456      Reg         Lvl
1457      Reg         Lvl
1458      Reg         Lvl

[1459 rows x 2 columns]

In [23]:
datos["MiscVal"]

0           0
1       12500
2           0
3           0
4           0
        ...
1454        0
1455        0
1456        0
1457      700
1458        0
Name: MiscVal, Length: 1459, dtype: int64

In [24]:
dt=datos.MiscVal > 500  #seleccionar renglones condicionados

In [25]:
datos[dt] #solo las que cumplen en dataframe

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
56,1517,85,RL,75.0,11380,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Shed,1500,1,2010,WD,Normal
159,1620,90,RL,70.0,7700,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,Shed,600,2,2010,WD,Normal
199,1660,20,RL,NaN,10710,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,Shed,1200,7,2009,WD,Normal
288,1749,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,Shed,650,8,2009,WD,Normal
394,1855,80,RL,66.0,19255,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Shed,600,9,2009,WD,Normal
432,1893,20,RL,70.0,11767,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,Shed,900,6,2009,WD,Normal
450,1911,80,RL,NaN,13607,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Shed,1500,4,2009,WD,Normal
462,1923,60,RL,NaN,9839,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Shed,2500,2,2009,WD,Normal
469,1930,80,RL,62.0,7706,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,Shed,700,8,2009,WD,Normal
485,1946,20,RL,NaN,31220,Pave,NaN,IR1,Bnk,NaN,...,0,0,NaN,NaN,Shed,750,5,2008,WD,Normal
554,2015,60,RL,43.0,14565,Pave,NaN,IR2,Lvl,AllPub,...,0,0,NaN,NaN,Shed,2000,11,2008,WD,Normal
560,2021,20,RL,60.0,6360,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,Shed,650,1,2008,COD,Abnorml
605,2066,20,RL,95.0,14250,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,Shed,1500,9,2008,WD,Normal
613,2074,20,RL,76.0,11355,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,Othr,6500,4,2008,WD,Normal
666,2127,60,RM,57.0,8094,Pave,Grvl,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,1000,9,2008,WD,Normal
679,2140,20,RL,68.0,10265,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,600,7,2008,WD,Normal
709,2170,60,RL,75.0,12192,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Shed,4500,5,2008,WD,Normal
734,2195,20,RL,68.0,9520,Pave,NaN,Reg,Bnk,AllPub,...,0,0,NaN,MnPrv,Gar2,3000,5,2008,WD,Normal
856,2317,20,RL,88.0,12216,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Shed,2000,6,2007,WD,Normal
939,2400,50,RL,51.0,3500,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,2000,7,2007,WD,Normal
1089,2550,20,RL,128.0,39290,Pave,NaN,IR1,Bnk,AllPub,...,0,0,NaN,NaN,NaN,17000,10,2007,New,Partial
1097,2558,90,RL,60.0,10890,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,Shed,1512,1,2007,WD,AdjLand
1237,2698,60,RL,70.0,9370,Pave,NaN,IR2,Lvl,AllPub,...,224,0,NaN,NaN,Othr,3000,10,2006,WD,Family
1289,2750,20,RL,80.0,13600,Pave,NaN,Reg,Bnk,AllPub,...,0,0,NaN,MnPrv,Shed,650,11,2006,WD,Normal
1330,2791,20,RM,65.0,9750,Pave,Grvl,Reg,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,4500,7,2006,WD,Normal
1343,2804,20,RL,100.0,21370,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,Shed,600,6,2006,WD,Normal
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal

In [26]:
dta = datos[(datos.MiscVal>500) & (datos.MiscVal<1500)]

In [27]:
dta #notar la doble condición & (and), | (or)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
159,1620,90,RL,70.0,7700,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,Shed,600,2,2010,WD,Normal
199,1660,20,RL,NaN,10710,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,Shed,1200,7,2009,WD,Normal
288,1749,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,Shed,650,8,2009,WD,Normal
394,1855,80,RL,66.0,19255,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Shed,600,9,2009,WD,Normal
432,1893,20,RL,70.0,11767,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,Shed,900,6,2009,WD,Normal
469,1930,80,RL,62.0,7706,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,Shed,700,8,2009,WD,Normal
485,1946,20,RL,NaN,31220,Pave,NaN,IR1,Bnk,NaN,...,0,0,NaN,NaN,Shed,750,5,2008,WD,Normal
560,2021,20,RL,60.0,6360,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,Shed,650,1,2008,COD,Abnorml
666,2127,60,RM,57.0,8094,Pave,Grvl,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,1000,9,2008,WD,Normal
679,2140,20,RL,68.0,10265,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,600,7,2008,WD,Normal
1289,2750,20,RL,80.0,13600,Pave,NaN,Reg,Bnk,AllPub,...,0,0,NaN,MnPrv,Shed,650,11,2006,WD,Normal
1343,2804,20,RL,100.0,21370,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,Shed,600,6,2006,WD,Normal
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal

In [28]:
dta = datos[(datos.MiscVal>500) | (datos.MiscVal<1500)]

In [29]:
dta

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [30]:
datos[datos.MiscVal.isin([500,1000])] #entre estos números

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
6,1467,20,RL,NaN,7980,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,GdPrv,Shed,500,3,2010,WD,Normal
133,1594,90,RH,60.0,7200,Pave,Pave,Reg,Lvl,AllPub,...,0,0,NaN,NaN,Shed,500,2,2010,WD,Normal
666,2127,60,RM,57.0,8094,Pave,Grvl,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,1000,9,2008,WD,Normal
785,2246,20,RL,NaN,17979,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,GdWo,Shed,500,2,2008,WD,Normal
1026,2487,60,RL,99.0,16779,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,Shed,500,5,2007,WD,Normal
1348,2809,80,RL,80.0,10366,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,GdPrv,Shed,500,7,2006,WD,Normal

In [31]:
datos.loc[(datos.MiscVal>500)&(datos.MiscVal<1500),:] #renglones,columnas

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
159,1620,90,RL,70.0,7700,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,Shed,600,2,2010,WD,Normal
199,1660,20,RL,NaN,10710,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,Shed,1200,7,2009,WD,Normal
288,1749,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,Shed,650,8,2009,WD,Normal
394,1855,80,RL,66.0,19255,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Shed,600,9,2009,WD,Normal
432,1893,20,RL,70.0,11767,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,Shed,900,6,2009,WD,Normal
469,1930,80,RL,62.0,7706,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,Shed,700,8,2009,WD,Normal
485,1946,20,RL,NaN,31220,Pave,NaN,IR1,Bnk,NaN,...,0,0,NaN,NaN,Shed,750,5,2008,WD,Normal
560,2021,20,RL,60.0,6360,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,Shed,650,1,2008,COD,Abnorml
666,2127,60,RM,57.0,8094,Pave,Grvl,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,1000,9,2008,WD,Normal
679,2140,20,RL,68.0,10265,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,600,7,2008,WD,Normal
1289,2750,20,RL,80.0,13600,Pave,NaN,Reg,Bnk,AllPub,...,0,0,NaN,MnPrv,Shed,650,11,2006,WD,Normal
1343,2804,20,RL,100.0,21370,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,Shed,600,6,2006,WD,Normal
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal

In [32]:
datos.loc[:,["Id","MiscVal"]] #seleccionar dos columnas

        Id  MiscVal
0     1461        0
1     1462    12500
2     1463        0
3     1464        0
4     1465        0
...    ...      ...
1454  2915        0
1455  2916        0
1456  2917        0
1457  2918      700
1458  2919        0

[1459 rows x 2 columns]

In [33]:
datos.iloc[0,0] #si se busca un elemento

1461

In [34]:
datos.iloc[:,1]

0        20
1        20
2        60
3        60
4       120
       ...
1454    160
1455    160
1456     20
1457     85
1458     60
Name: MSSubClass, Length: 1459, dtype: int64

In [35]:
datos.iloc[:,-1] #la última columna

0        Normal
1        Normal
2        Normal
3        Normal
4        Normal
         ...
1454     Normal
1455    Abnorml
1456    Abnorml
1457     Normal
1458     Normal
Name: SaleCondition, Length: 1459, dtype: object

In [36]:
datos.iloc[0,:] #por renglones

Id                 1461
MSSubClass           20
MSZoning             RH
LotFrontage        80.0
LotArea           11622
                  ...
MiscVal               0
MoSold                6
YrSold             2010
SaleType             WD
SaleCondition    Normal
Name: 0, Length: 80, dtype: object

In [16]:
datos["SalePrice"]

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [43]:
da=datos.iloc[2,2]="No hay" #regresa el nombre con una condición

In [44]:
da

'No hay'

In [ ]:
datos[0:2] #regresa un renglón

In [ ]:
da=datos[0:1]

In [ ]:
da.Id=1000 #cambiar id
da

#notar que los cambios se guardan

In [51]:
datos[datos.MSSubClass==20] #consulta para columna con condición

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
10,11,20,RL,70.0,11200,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,129500
12,13,20,RL,NaN,12968,Pave,NaN,IR2,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,144000
13,14,20,RL,91.0,10652,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,New,Partial,279500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1453,1454,20,RL,90.0,17217,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,WD,Abnorml,84500
1454,1455,20,FV,62.0,7500,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,10,2009,WD,Normal,185000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [52]:
datos[datos.MSSubClass==20]["MSSubClass"]=0 #regresa todas las filas 
datos

C:\Users\kevin\AppData\Local\Temp\ipykernel_8\2421874957.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos[datos.MSSubClass==20]["MSSubClass"]=0 #regresa todas las filas

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [60]:
copia=datos.iloc[1,1]="No se borra"
copia

'No se borra'

In [78]:
copia=datos[0:1].copy() 
datos.Id=44
copia

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,45,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500

In [71]:
import copy

In [83]:
datos

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

### Actualización de data frames

In [86]:
datos.shape #renglones, columnas

(1460, 81)

In [17]:
nuevo=pd.DataFrame({"a":np.arange(1,10),"b":np.arange(21,30)},index=[np.arange(-10,-1)])
nuevo

     a   b
-10  1  21
-9   2  22
-8   3  23
-7   4  24
-6   5  25
-5   6  26
-4   7  27
-3   8  28
-2   9  29

In [18]:
nuevo["c"]=np.arange(91,100) #nueva columna
nuevo

     a   b   c
-10  1  21  91
-9   2  22  92
-8   3  23  93
-7   4  24  94
-6   5  25  95
-5   6  26  96
-4   7  27  97
-3   8  28  98
-2   9  29  99

In [20]:
nuevo["Suma"]=nuevo.a+nuevo.b+nuevo.c #operaciones entre dataframe
nuevo

     a   b   c  Resta  Suma
-10  1  21  91   -111   113
-9   2  22  92   -112   116
-8   3  23  93   -113   119
-7   4  24  94   -114   122
-6   5  25  95   -115   125
-5   6  26  96   -116   128
-4   7  27  97   -117   131
-3   8  28  98   -118   134
-2   9  29  99   -119   137

In [21]:
nuevo["Resta"]=nuevo.a-nuevo.b-nuevo.c
nuevo

     a   b   c  Resta  Suma
-10  1  21  91   -111   113
-9   2  22  92   -112   116
-8   3  23  93   -113   119
-7   4  24  94   -114   122
-6   5  25  95   -115   125
-5   6  26  96   -116   128
-4   7  27  97   -117   131
-3   8  28  98   -118   134
-2   9  29  99   -119   137

In [22]:
nuevo["Producto"]=nuevo.a*nuevo.b*nuevo.c
nuevo

     a   b   c  Resta  Suma  Producto
-10  1  21  91   -111   113      1911
-9   2  22  92   -112   116      4048
-8   3  23  93   -113   119      6417
-7   4  24  94   -114   122      9024
-6   5  25  95   -115   125     11875
-5   6  26  96   -116   128     14976
-4   7  27  97   -117   131     18333
-3   8  28  98   -118   134     21952
-2   9  29  99   -119   137     25839

In [23]:
nuevo["División"]=nuevo.a/nuevo.b/nuevo.c
nuevo

     a   b   c  Resta  Suma  Producto  División
-10  1  21  91   -111   113      1911  0.000523
-9   2  22  92   -112   116      4048  0.000988
-8   3  23  93   -113   119      6417  0.001403
-7   4  24  94   -114   122      9024  0.001773
-6   5  25  95   -115   125     11875  0.002105
-5   6  26  96   -116   128     14976  0.002404
-4   7  27  97   -117   131     18333  0.002673
-3   8  28  98   -118   134     21952  0.002915
-2   9  29  99   -119   137     25839  0.003135

In [24]:
nuevo.shape,nuevo.shape[0],nuevo.shape[1]

((9, 7), 9, 7)

In [25]:
nuevo.loc[nuevo.shape[0]]=[1,2,3,4,5,6,7]
nuevo

        a   b   c  Resta  Suma  Producto  División
(-10,)  1  21  91   -111   113      1911  0.000523
(-9,)   2  22  92   -112   116      4048  0.000988
(-8,)   3  23  93   -113   119      6417  0.001403
(-7,)   4  24  94   -114   122      9024  0.001773
(-6,)   5  25  95   -115   125     11875  0.002105
(-5,)   6  26  96   -116   128     14976  0.002404
(-4,)   7  27  97   -117   131     18333  0.002673
(-3,)   8  28  98   -118   134     21952  0.002915
(-2,)   9  29  99   -119   137     25839  0.003135
9       1   2   3      4     5         6  7.000000

In [28]:
64/784

0.08163265306122448